{% extends 'multi_store/base.html' %}
{% load static %}

<body>
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'test:index' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'test:shop_category' %}">Shop</a>
                    <span class="breadcrumb-item active">Likes</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Add to cart</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for like in likes %}
                        <tr>
                            <td class="align-middle"><img src="{{ like.product.image.url }}" alt="" style="width: 50px;">
                                <a href="{% url 'test:product_detail' like.product.id %}" class="text-dark">{{ like.product.name }}</a>
                            </td>
                            <td class="align-middle">${{ like.product.price }}</td>
                            <td class="align-middle">
                                <a href="{% url 'shoping_cart:add_to_cart' like.product.id %}">
                                    <button class="btn btn-sm btn-warning" type="button">
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </a>
                            </td>
                            <td class="align-middle">
                                <a href="{% url 'shoping_cart:del_from_likes' like.product.id %}">
                                    <button class="btn btn-sm btn-danger" type="button">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- Cart End -->



</body>
{% endblock %}
